{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_title %}{{ 'xm_security.login.page_title'|trans([], 'XMSecurityBundle') }} | {% endblock %}

{% block fos_user_content %}
    {% if error %}
        <div class="alert alert-warning alert-type-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="form-wrap form-form_wrap">
        <h1 class="mt-0">{{ 'xm_security.login.form_title'|trans([], 'XMSecurityBundle') }}</h1>

        <form action="{{ path('fos_user_security_check') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {% if target_path is defined %}
                <input type="hidden" name="_target_path" value="{{ target_path }}">
            {% endif %}

            <div class="field-wrap form-field_wrap">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required>
            </div>

            <div class="field-wrap form-field_wrap">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required>
            </div>

            <div class="field-wrap-checkbox form-field_wrap form-field_wrap-checkbox">
                <input type="checkbox"
                       id="remember_me"
                       name="_remember_me"
                       value="on"><label
                        for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>

            <div class="form-button_wrap">
                <button type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
                <a href="{{ path('fos_user_resetting_request') }}" class="form-action form-action_link">{{ 'xm_security.forgot_password'|trans([], 'XMSecurityBundle') }}</a>
            </div>
        </form>
    </div>

    {% if registration_is_enabled is defined and registration_is_enabled %}
        <div class="content-wrap_inside -text-center mt-8 mb-4 text-center">
            <a href="{{ path('fos_user_registration_register') }}" class="button">{{ 'registration.submit'|trans }}</a>
        </div>
    {% endif %}
{% endblock fos_user_content %}
