{% trans_default_domain 'FOSUserBundle' %}

<div class="form-wrap form-form_wrap">
    <h1 class="mt-0">{{ 'xm_security.activate.form_title'|trans([], 'XMSecurityBundle') }}</h1>

    <p>{{ 'xm_security.activate.form_instructions'|trans([], 'XMSecurityBundle') }}</p>

    {{ form_start(form, { 'action': path('xm_security_activate', {'token': token}) }) }}

        {% if target_path is defined %}
            <input type="hidden" name="_target_path" value="{{ target_path }}">
        {% endif %}

        <div class="field-wrap form-field_wrap">
            {{ form_label(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.first) }}
            {# the autocomplete attr is for Safari & autofill #}
            {{ form_widget(form.plainPassword.first, { 'attr' : { 'autocomplete' : 'new-password' }}) }}
            <div class="field-help form-field_help">{{ 'xm_security.password.help'|trans([], 'XMSecurityBundle') }}</div>
        </div>

        {{ form_row(form.plainPassword.second) }}

        <div class="form-button_wrap">
            <button type="submit">{{ 'xm_security.activate.submit'|trans({}, 'XMSecurityBundle') }}</button>
            <a href="{{ path('fos_user_security_login') }}" class="form-action form-action_link">{{ 'xm_security.activate.return_to_login'|trans([], 'XMSecurityBundle') }}</a>
        </div>
    {{ form_end(form) }}
</div>
