{% trans_default_domain 'FOSUserBundle' %}

<div class="form-form_wrap">
    <h1>Password Reset</h1>
    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
        {{ form_widget(form) }}
        <div class="form-button_wrap">
            <button type="submit">{{ 'resetting.reset.submit'|trans }}</button>
            <a href="{{ path('fos_user_security_login') }}" class="form-action_link">Login</a>
        </div>
    {{ form_end(form) }}
</div>