{% trans_default_domain 'FOSUserBundle' %}

<div class="form-wrap form-form_wrap">
    <h1 class="mt-0">{{ 'xm_security.profile.form_title'|trans([], 'XMSecurityBundle') }}</h1>

    {{ form_start(form, { 'action': path('fos_user_profile_edit') }) }}
        {{ form_errors(form) }}

        {{ form_row(form.email) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}

        {{ form_row(form.current_password) }}

        <div class="form-button_wrap">
            <button>{{ 'profile.edit.submit'|trans }}</button>
            <a href="{{ path('fos_user_change_password') }}" class="form-action form-action_link">{{ 'xm_security.change_password'|trans([], 'XMSecurityBundle') }}</a>
        </div>
    {{ form_end(form) }}
</div>