{% trans_default_domain 'FOSUserBundle' %}

<div class="form-form_wrap">
    <h1>{{ 'xm_security.change_password.form_title'|trans([], 'XMSecurityBundle') }}</h1>

    {{ form_start(form, { 'action': path('fos_user_change_password') }) }}
        {{ form_errors(form) }}

        {{ form_row(form.current_password) }}

        <div class="form-field_wrap">
            {{ form_label(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
            <div class="form-field_help">{{ 'xm_security.password.help'|trans([], 'XMSecurityBundle') }}</div>
        </div>

        {{ form_row(form.plainPassword.second) }}

        <div class="form-button_wrap">
            <button type="submit">{{ 'change_password.submit'|trans }}</button>
            <a href="{{ path('fos_user_profile_edit') }}" class="form-action_link">{{ 'xm_security.cancel'|trans([], 'XMSecurityBundle') }}</a>
        </div>
    {{ form_end(form) }}
</div>